@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Instrument+Serif:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #000;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("img/covers/threecheersdeluxe.jpg");
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}
.title {
  font-family: "Special Elite";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cacaca;
  font-weight: 500;
  font-size: 72px;
  text-transform: lowercase;
  text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
  padding: 25px 0;
}
.bullets {
  font-family: "Instrument Serif";
  color: #cacaca;
  font-size: 43.5px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
}
.revenge {
  font-family: "Cinzel";
  color: #cf2c2c;
  font-size: 50.5px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
  font-weight: 500;
}
.tbp {
  font-family: "Times";
  font-size: 62.5px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  transform: scale(1, 1.8);
  padding: 10px 0;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
