@import url("https://cdn.22is5.org/css/fonts/trajan-pro.css");
@import url("https://cdn.22is5.org/css/fonts/moms-typewriter.css");
@import url("https://cdn.22is5.org/css/fonts/times.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #040404;
}
.parent {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
}
.main {
  width: 1024px;
  max-width: 100%;
  background-color: #060606;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.album {
  width: 100%;
  display: flex;
  gap: 36px;
  color: #fff;
  backdrop-filter: brightness(25%);
  text-decoration: none;
  font-size: 32px;
}
.cover {
  width: 128px;
  height: 128px;
  transform: scale(1.1);
  transition: 0.3s;
}
.albumInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(0 0 2px #000);
}
.albumBg {
  background-size: cover;
  background-position: center;
}
.spacer {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  height: 2px;
  width: 512px;
  border-radius: 100px;
  background-color: #080808;
  filter: drop-shadow(0 0 2px #000);
}
#complete {
  border-right: solid 2px #4fb44f;
  background: linear-gradient(to right, #00000000, #00000000, #00000000, #4fb44f40);
}
#incomplete {
  border-right: solid 2px #b4944f;
  background: linear-gradient(to right, #00000000, #00000000, #00000000, #b4944f40);
}
#notstarted {
  border-right: solid 2px #b44f4f;
  background: linear-gradient(to right, #00000000, #00000000, #00000000, #b44f4f40);
}
.legend {
  background-color: #080808;
  padding: 12px;
  width: 100%;
  margin: 0 0 24px 0;
  display: flex;
  gap: 12px;
}
.legendSquare {
  width: 36px;
  height: 36px;
  border: solid 4px #000;
}
