* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
:root {
  --bgc: #e0e1d9;
}
body {
  overscroll-behavior: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: var(--bgc);
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.left {
  width: 50%;
  height: 100%;
  background-image: url("https://github.com/2plus2isfive/cdn/blob/main/img/covers/olg_splash1.jpg?raw=true");
  background-size: cover;
  background-position: center;
  filter: blur(0.25vw);
}
.center {
  width: 512px;
}
.right {
  width: 50%;
  height: 100%;
  background-image: url("https://github.com/2plus2isfive/cdn/blob/main/img/covers/olg_splash2.jpg?raw=true");
  background-size: cover;
  background-position: center;
  filter: blur(0.25vw);
}
.parent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  width: 600px;
  background-color: var(--bgc);
  max-width: 100%;
  filter: drop-shadow(0 0 10px #000);
  position: relative;
}
.content {
  text-align: justify;
  padding: 15px;
}
.banner {
  width: 100%;
  height: 512px;
  background-image: url("https://github.com/2plus2isfive/cdn/blob/main/img/covers/onlettinggo.jpg?raw=true");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient {
  background: linear-gradient(to top, var(--bgc), #00000000);
  height: 100%;
  width: 100%;
}
.bannerTwo {
  width: 100%;
  height: 512px;
  background-image: url("https://github.com/2plus2isfive/cdn/blob/main/img/covers/olg_alt.jpg?raw=true");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.gradientTwo {
  background: linear-gradient(to bottom, var(--bgc), #00000000);
  height: 100%;
  width: 100%;
  bottom: 0;
}
.header {
  padding: 5px 10px 0px 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
}
.lyrics {
  padding: 0 10px;
}
.track {
  width: 100%;
  position: absolute;
}
.trackTwo {
  width: 100%;
  text-align: right;
  position: absolute;
}
.HELPME {
  height: 3610px;
}
