@import url("https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --text:#ebdfc9;
}
body {
  background-color: #000;
  font-family: Buda;
  text-align: center;
  color:var(--text);
}
.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(/img/covers/divineinnertension.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(0.5vw);
  z-index: -1;
}
.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:drop-shadow(0 0 10px #000);
}
.title {
    font-size:96px;
    text-transform: uppercase;
}
.links {
    transform: translate(0, -25px);
    display:flex;
    padding:0 5px;
}
.links a {
    color:var(--text);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    letter-spacing: 3px;
}