@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Instrument+Serif:ital@0;1&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: #c03215;
  --darkred: #ab2b11;
}
.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.65;
  display: flex;
  justify-content: space-between;
  background-image: url(https://github.com/2plus2isfive/cdn/blob/main/img/hdcovers/threecheersdeluxe.jpg?raw=true);
  background-size: cover;
  background-position: center;
}
body {
  background-color: #000;
  font-size: 14.5px;
  font-family: Cinzel;
}
.parent {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 10px #000);
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  /* padding: 15px; */
  text-align: justify;
  text-transform: uppercase;
  backdrop-filter: invert(100%) contrast(30%) brightness(150%) grayscale(100%);
}
.track {
  padding: 15px 15px 0 15px;
}
.title {
  color: var(--red);
  font-weight: 500;
}
.bold {
  font-weight: 500;
}
.spacer {
  height: 15px;
}
.mainbg {
  background-color: #fefefe;
  background-image: url(https://github.com/2plus2isfive/cdn/blob/main/img/hdcovers/threecheersdeluxe.jpg?raw=true);
  background-size: cover;
  background-position: center;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--darkred);
  font-size: 20px;
  font-weight: 600;
}
